




<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 banner-small">
      <h1>Töchter Anatoliens</h1>
      <h4>Türkische <span id="banner-typed-text"></span></h4>
      <a href="#anchor">
        <div class="erfahren-btn">
          <p>Mehr Erfahren</p>
        </div>
      </a>
    </div>
    <div class="col-12 col-lg-6 img-banner">
      <%= image_tag('zuchini2.JPG', class:"banner-zuchini-img") %>
    </div>
  </div>
</div>

<div id="anchor"></div>

<!-- Gebäck -->

<div class="container gebaeck-large">
  <div class="row">
    <div class="col-sm-12 col-lg-6">
      <%= image_tag('boerek.JPG', class:"food-img") %>
    </div>
    <div class="col-sm-12 col-lg-6 text-container">
      <h1 class="food-header">Gebäck</h1>
      <p>Börek, Poğaça, etc.</p>
    </div>
  </div>
</div>

<div class="container gebaeck-small">
  <div class="row">
    <div class="col-sm-12 col-lg-6 text-container">
      <h1 class="food-header">Gebäck</h1>
      <p>Börek, Poğaça, etc.</p>
    </div>
    <div class="col-sm-12 col-lg-6">
      <%= image_tag('boerek.JPG', class:"food-img") %>
    </div>
  </div>
</div>

<!-- Vorspeisen -->

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 text-container">
      <h1 class="food-header">Vorspeisen</h1>
      <p>Börek, Poaca, etc.</p>
    </div>
    <div class="col-12 col-lg-6">
      <%= image_tag('karotte.JPG', class:"food-img") %>
    </div>
  </div>
</div>


<!-- Suppen -->


<div class="container suppen-large">
  <div class="row">
    <div class="col-12 col-lg-6">
      <%= image_tag('suppe.JPG', class:"food-img") %>
    </div>
    <div class="col-12 col-lg-6 text-container">
      <h1 class="food-header">Suppen</h1>
      <p>Börek, Poaca, etc.</p>
    </div>
  </div>
</div>

<div class="container suppen-small">
  <div class="row">
    <div class="col-12 col-lg-6 text-container">
      <h1 class="food-header">Suppen</h1>
      <p>Börek, Poaca, etc.</p>
    </div>
    <div class="col-12 col-lg-6">
      <%= image_tag('suppe.JPG', class:"food-img") %>
    </div>
  </div>
</div>

<!-- Hauptspeisen -->

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 text-container">
      <h1 class="food-header">Hauptspeisen</h1>
      <p>Börek, Poaca, etc.</p>
    </div>
    <div class="col-12 col-lg-6">
      <%= image_tag('wrap.jpg', class:"food-img") %>
    </div>
  </div>
</div>

<!-- Nachspeisen -->

<div class="container nachspeisen-large">
  <div class="row">
    <div class="col-12 col-lg-6">
      <%= image_tag('sweet.JPG', class:"food-img") %>
    </div>
    <div class="col-12 col-lg-6 text-container">
      <h1 class="food-header">Nachspeisen</h1>
      <p>Börek, Poaca, etc.</p>
    </div>
  </div>
</div>

<div class="container nachspeisen-small">
  <div class="row">
    <div class="col-12 col-lg-6 text-container">
      <h1 class="food-header">Nachspeisen</h1>
      <p>Börek, Poaca, etc.</p>
    </div>
    <div class="col-12 col-lg-6">
      <%= image_tag('sweet.JPG', class:"food-img") %>
    </div>
  </div>
</div>

<!-- Kultur -->

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 text-container">
      <h1 class="food-header">Kultur</h1>
      <p>Börek, Poaca, etc.</p>
    </div>
    <div class="col-12 col-lg-6">
      <%= image_tag('coffee.jpg', class:"food-img") %>
    </div>
  </div>
</div>

